.quiz-box {
    width: 600px;
    height: 400px;
    border-style: solid;
    border-color: red;
    padding: 20px;
    margin: 35px auto;
}

#question-text {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
}

.choices {
    margin: 10px;
}

.hide {
    display: none;
}

.start {
    margin: 100px 500px;
}

#feedback {
    margin-top: 30px;
    font-style: italic;
}

#end-box {
    border-style: solid;
    border-color: green;
    width: 600px;
    height: 400px;
    margin: 35px auto;
    padding: 20px;
}

#highscore-box {
    border-style: solid;
    border-color: green;
    width: 400px;
    height: 400px;
    margin: 35px auto;
    padding: 20px;
}

#highscore-value {
    margin: 30px auto;
}

h2 {
    text-align: center;
}

#initials {
    padding-right: 10px;
}

#rules {
    text-align: center;
}